@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root { 
    --color-principal: #f1142b;
    --color-secundario: #fcc549;
    --color-black: #000;
    --color-white: #fff;
    --color-text: #777;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
body a {
    text-decoration: none;
}

/* ---------------HEADER-------------- */
.header {
    background-color: var(--color-secundario);
}
.header .content-header {
    width: 100%;
    padding: 10px 20px;
}
.content-header .logo-header {
    display: flex;
    justify-content: center;
}
.content-header .logo-header img {
    width: 100px;
}

/* ---------------COVER--------------- */
.cover {
    width: 100%;
    display: flex;
    position: relative;
}
.cover .back-cover {
    background-image: url(../img/back-body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.cover .absolute-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000085;
}
.absolute-cover .content-cover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}
.absolute-cover .content-cover .selector {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.absolute-cover .content-cover .selector .title-cover {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-white);
}
.absolute-cover .content-cover .selector .separator {
    width: 100px;
    height: 3px;
    background-color: var(--color-principal);
    display: flex;
    margin: auto;
}
.absolute-cover .content-cover .selector .descrip-cover {
    font-size: 17px;
    color: var(--color-white);
}
.absolute-cover .content-cover .selector a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
}
.absolute-cover .content-cover .selector a .title-menu {
    font-size: 40px;
    font-weight: 500;
    color: var(--color-secundario);
}
.absolute-cover .content-cover .selector a .title-white {
    color: var(--color-white);
}
.absolute-cover .content-cover .selector a i {
    font-size: 50px;
    color: var(--color-secundario);
}
.absolute-cover .content-cover .selector a .paragraph-menu {
    font-size: 15px;
    color: var(--color-white);
}

/* -----------EMPRESA-------------- */
.empresa {
    width: 100%;
}
.empresa .content-empresa {
    width: 100%;
    padding: 30px 20px;
}
.content-empresa .video-empresa {
    width: 100%;
}
.content-empresa .video-empresa .embebido {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

/* -----------------PRODUCTO------------------- */
.producto {
    width: 100%;
    background-color: var(--color-secundario);
}
.comidas {
    background-color: var(--color-principal);
}
.producto .content-producto {
    width: 100%;
    max-width: 90%;
    margin: auto;
    padding: 40px 0px;
}
.content-producto .head-producto {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.content-producto .head-producto .title-prod {
    font-size: 25px;
    font-weight: 700;
    color: var(--color-black);
    margin-bottom: 10px;
}
.content-producto .head-producto .separator {
    width: 50px;
    height: 2px;
    background-color: var(--color-principal);
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}
.content-producto .head-producto .paragraph-prod {
    font-size: 16px;
}
.content-producto .row-producto {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
    .row-producto .card-producto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
        text-align: center;
        background-color: var(--color-white);
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    .row-producto .card-producto .img-producto {
        width: 100%;
    }
    .row-producto .card-producto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
        margin-bottom: 10px;
    }
    .row-producto .card-producto .text-producto {
        padding: 20px;
        text-align: left;
    }
    .row-producto .card-producto .text-producto .name-prod {
        font-size: 20px;
        font-weight: 600;
        color: var(--color-black);
    }
    .row-producto .card-producto .text-producto .und-prod {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 30px;
        color: var(--color-text);
    }
    .row-producto .card-producto .text-producto .price {
        font-size: 20px;
        font-weight: 700;
        color: var(--color-black);
        width: 100%;
        border-top: 1px dashed var(--color-principal);
        padding-top: 10px;
    }


/* ---------------FOOTER----------------- */
.footer {
    width: 100%;
    background-color: var(--color-principal);
    border-top: 3px solid var(--color-secundario);
}
.footer .content-footer {
    width: 100%;
    max-width: 90%;
    margin: auto;
    padding: 20px 0px;
}
.content-footer .text-footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 5px 20px;
}
.content-footer .text-footer .contact {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);
}
.content-footer .text-footer .contact i {
    margin-right: 5px;
}